{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
{{ form.media }}
{% endblock head %}

{% block content %}
<br><br>
<div class="container my-5">
    <h1 class="primary-color">Send Newsletter</h1>
    <hr>
    <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class='btn btn-primary'><i class="fas fa-paper-plane"></i> Send</button>
        <a href="{% url 'leptitox:home' %}" class="btn" style="background-color:  #4caf50;">Cancel</a>
    </form>
</div>
{% endblock content %}